<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    
    <context-param>
    <description>The relative path to product images</description>
    <param-name>productImagePath</param-name>
    <param-value>images/products/</param-value>
</context-param>
   
    <servlet>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <servlet-class>controller.ShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>controller.CustomerServlet</servlet-class>
    </servlet>
    <!---->
    <servlet-mapping>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
     
    <listener>
        
        <listener-class>util.CartContextListener</listener-class>
    </listener>
        
    
</web-app>
